$form-width: 600px;

.header {
    margin: 10px auto;
    width: 200px;
    font-size: 2rem;
}

#form {
    margin: 10px auto;
    height: 600px;
    width: $form-width;
    border: 1px solid;
    border-radius: 15px;
    padding: 30px
}

@media only screen and (max-width: $form-width + 50px) {
    #form {
        height: 100%;
        width: 90%;
    }
}