#dynamic-form {
    height: 100%;
    width: 100%;
    margin: auto;

    .dynamic-form-fields {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 90%;
    }

    .dynamic-field-component {
        margin: 0px 10px 20px 10px;
        min-width: 100px;
    }

    .dynamic-field-errMsg {
        position: absolute;
    }

    .dynamic-form-controllers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: 10%;
    }

    .dynamic-controller-component {
        flex: 1;
    }

    .dynamic-controller-component:not(:first-child) {
        margin-left: 10px;
    }
}